<div class="side-nav-wrapper" id="side-nav-wrapper">
  <div class="icon-panel">
    <div class="table-row empty-row non-expandable-div-empty-row">
      <div class="side-nav-toolbar">

        <div class="table-row">
          <div class="side-nav-item">
            <a id="toolbar-menu">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </a>
          </div>
        </div>

        <div class="table-row">
          <div class="side-nav-item">
            <a href="#/inventory" id="toolbar-inventory">
              <i class="fa fa-folder-open" aria-hidden="true"></i>
            </a>
            <span class="side-nav-tooltip-arrow"></span>
            <a href="#/inventory" class="side-nav-tooltip">Applications</a>
          </div>
        </div>

        <div class="table-row">
          <div class="side-nav-item">
            <a href="#/deployments" id="toolbar-deployments">
              <i class="fa fa-copy" aria-hidden="true"></i>
            </a>
            <span class="side-nav-tooltip-arrow"></span>
            <a href="#/deployments" class="side-nav-tooltip">Deployments</a>
          </div>
        </div>

        <div class="table-row">
          <div class="side-nav-item">
            <a href="#/databases" id="toolbar-databases">
              <i class="fa fa-database" aria-hidden="true"></i>
            </a>
            <span class="side-nav-tooltip-arrow"></span>
            <a href="#/databases" class="side-nav-tooltip">Databases</a>
          </div>
        </div>

        <div class="table-row">
          <div class="side-nav-item">
            <a href="#/types" id="toolbar-types">
              <i class="fa fa-table" aria-hidden="true"></i>
            </a>
            <span class="side-nav-tooltip-arrow"></span>
            <a href="#/types" class="side-nav-tooltip">Types</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
