<div class="side-nav-wrapper" id="side-nav-wrapper">
  <div class="icon-panel">
    <div class="table-row empty-row non-expandable-div-empty-row">
      <div class="side-nav-toolbar">

        <div class="table-row">
          <div>
            <a id="toolbar-menu" class="parentLinks">
              <i class="pi pi-bars" aria-hidden="true"></i>
            </a>
          </div>
        </div>

        <div class="table-row">
          <div>
            <a href="#/inventory" id="toolbar-inventory" class="parentLinks">
              <i class="pi pi-home" aria-hidden="true"></i>
            </a>
          </div>
        </div>

        <div class="table-row">
          <div>
            <a href="#/application-types" id="toolbar-application-types" class="parentLinks">
              <i class="pi pi-table" aria-hidden="true"></i>
            </a>
          </div>
        </div>

        <div class="table-row">
          <div>
            <a href="#/deployments" id="toolbar-deployments" class="parentLinks">
              <i class="pi pi-clone" aria-hidden="true"></i>
            </a>
          </div>
        </div>

        <div class="table-row">
          <div>
            <a href="#/databases" id="toolbar-databases" class="parentLinks">
              <i class="pi pi-paperclip" aria-hidden="true"></i>
            </a>
          </div>
        </div>

        <div class="table-row">
          <div>
            <a href="#/database-types" id="toolbar-database-types" class="parentLinks">
              <i class="pi pi-th-large" aria-hidden="true"></i>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
