@import '../../../assets/scss/variables';

.dashboard-search-btn, .dashboard-search-btn:focus {
  position: absolute;
  height: 27.5px;
  margin-left: 10px;
  border-radius: 3px;
  background-color: $win-primary;
  color: $white;
  outline: none;
}
