<div class="win-body">
  <div class="page-title-wrapper">
    <h2 class="page-title">Dashboard</h2>
    <div class="btn-group">
      <button class="tab-btn" [disabled]="selectedTab === 0" (click)="toggleTabs(0)" [ngClass]="{'selected-tab': selectedTab === 0}">
        {{tabNames[0]}}
      </button>
      <button class="tab-btn" [disabled]="selectedTab === 1" (click)="toggleTabs(1)" [ngClass]="{'selected-tab': selectedTab === 1}">
        {{tabNames[1]}}
      </button>
      <button class="tab-btn" [disabled]="selectedTab === 2" (click)="toggleTabs(2)" [ngClass]="{'selected-tab': selectedTab === 2}">
        {{tabNames[2]}}
      </button>
      <button class="tab-btn" [disabled]="selectedTab === 3" (click)="toggleTabs(3)" [ngClass]="{'selected-tab': selectedTab === 3}">
        {{tabNames[3]}}
      </button>
    </div>
  </div>

  <div class="tab-body">
    <div *ngIf="selectedTab === 0">
      <div class="tab-title">
        <label for="dependencyId" class="win-label">Dependency</label>
        <input id="dependencyId" type="text" class="form-control validate filter-input dependency-search" autocomplete="off"
               [(ngModel)]="selectedDependencyReference"
               (keyup)="processTypeAhead()"
               (keypress)="triggerSearchOnEnter($event)"
               (focus)="showSuggestions(true)"
               (blur)="performSearch()">
      </div>
      <div class="suggestions dependencySuggestions" *ngIf="showDependencySuggestions && dependencySuggestions.length > 0">
        <ul *ngFor="let suggestion of dependencySuggestions">
          <li>
            <a (mousedown)="selectSuggestion(suggestion)">{{suggestion.managerReference}}</a>
          </li>
        </ul>
      </div>
      <div>
        <div class="tab-table" *ngIf="applicationDependencies?.length > 0; else noApplicationDependencies">
          <p-table [value]="applicationDependencies" [columns]="dependencySearchColumns" sortField="application.mnemonic" [paginator]="true" [rows]="25">
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let column of dependencySearchColumns" [pSortableColumn]="column.field" width="{{column.width}}">
                  {{column.header}}
                  <p-sortIcon [field]="column.field"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-applicationDependency>
              <tr>
                <td>{{applicationDependency?.application.mnemonic}}</td>
                <td>{{applicationDependency?.dependency.managerReference}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <ng-template #noApplicationDependencies>
          <div class="no-results-found">No results found</div>
        </ng-template>
      </div>
    </div>
    <div *ngIf="selectedTab === 1">
      <div>!!!!!!!! TAB 2 !!!!!!!!</div>
    </div>
    <div *ngIf="selectedTab === 2">
      <div>!!!!!!!! TAB 3 !!!!!!!!</div>
    </div>
    <div *ngIf="selectedTab === 3">
      <div>!!!!!!!! TAB 4 !!!!!!!!</div>
    </div>
  </div>
</div>
