<div class="win-body">
  <div class="page-title-wrapper">
    <h2 class="page-title">Dashboard</h2>
    <div class="btn-group">
      <button class="tab-btn" [disabled]="selectedTab === 0" (click)="toggleTabs(0)" [ngClass]="{'selected-tab': selectedTab === 0}">
        {{tabNames[0]}}
      </button>
      <button class="tab-btn" [disabled]="selectedTab === 1" (click)="toggleTabs(1)" [ngClass]="{'selected-tab': selectedTab === 1}">
        {{tabNames[1]}}
      </button>
      <button class="tab-btn" [disabled]="selectedTab === 2" (click)="toggleTabs(2)" [ngClass]="{'selected-tab': selectedTab === 2}">
        {{tabNames[2]}}
      </button>
    </div>
  </div>

  <div class="tab-body">
    <div *ngIf="selectedTab === 0">
      <div class="tab-title">
        <p-autoComplete [suggestions]="dependencySuggestions" placeholder="Dependency Name"
                        [(ngModel)]="selectedDependencyReference"
                        (completeMethod)="processDependencyTypeAhead()" (onSelect)="selectDependencySuggestion($event)"
                        class="dashboard-autocomplete">
          <ng-template let-suggestion pTemplate="item">
            {{suggestion.managerReference}}
          </ng-template>
        </p-autoComplete>
        <button class="dependency-search-btn" (click)="performDependencySearch()">Search Partial Name</button>
      </div>
      <div>
        <div class="tab-table" *ngIf="applicationDependencies?.length > 0; else noApplicationDependencies">
          <p-table [value]="applicationDependencies" [columns]="dependencySearchColumns" sortField="application.mnemonic" [paginator]="true" [rows]="25">
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let column of dependencySearchColumns" [pSortableColumn]="column.field" width="{{column.width}}">
                  {{column.header}}
                  <p-sortIcon [field]="column.field"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-applicationDependency>
              <tr>
                <td>{{applicationDependency?.application.mnemonic}}</td>
                <td>{{applicationDependency?.dependency.managerReference}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <ng-template #noApplicationDependencies>
          <div class="no-results-found">No results found</div>
        </ng-template>
      </div>
    </div>
    <div *ngIf="selectedTab === 1">
      <div class="tab-title">
        <p-autoComplete [suggestions]="databaseUserSuggestions" placeholder="Database User"
                        [(ngModel)]="selectedDatabaseUser"
                        (completeMethod)="processDatabaseUserTypeAhead()"
                        (onSelect)="selectDatabaseUserSuggestion($event)" class="dashboard-autocomplete">
          <ng-template let-suggestion pTemplate="item">
            {{suggestion}}
          </ng-template>
        </p-autoComplete>
        <button class="dependency-search-btn" (click)="performDatabaseUserSearch()">Search Partial Name</button>
      </div>
      <div>
        <div class="tab-table" *ngIf="deploymentDatabases?.length > 0; else noDeploymentDatabases">
          <p-table [value]="deploymentDatabases" [columns]="dbUserSubColumns" sortField="deployment.contextName" [paginator]="true" [rows]="25">
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let column of dbUserColumns" [colSpan]="column.colspan" [rowSpan]="1" width="{{column.width}}">
                  {{column.header}}
                </th>
              </tr>
              <tr>
                <th *ngFor="let column of dbUserSubColumns" [pSortableColumn]="column.field" width="{{column.width}}">
                  {{column.header}}
                  <p-sortIcon [field]="column.field"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-deploymentDatabase>
              <tr>
                <td>{{deploymentDatabase?.deployment.contextName}}</td>
                <td>{{deploymentDatabase?.deployment.environment}}</td>
                <td>{{getHostServerName(deploymentDatabase?.deployment.hostServerId)}}</td>
                <td>{{deploymentDatabase?.database.name}}</td>
                <td>{{deploymentDatabase?.database.environment}}</td>
                <td>{{deploymentDatabase?.connectionUsername}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <ng-template #noDeploymentDatabases>
          <div class="no-results-found">No results found</div>
        </ng-template>
      </div>
    </div>
    <div *ngIf="selectedTab === 2">
      <div class="tab-title">
        <p-autoComplete [suggestions]="portSuggestions" placeholder="Port"
                        [(ngModel)]="selectedPort"
                        (completeMethod)="processPortTypeAhead()"
                        (onSelect)="selectPortSuggestion($event)" class="dashboard-autocomplete">
          <ng-template let-suggestion pTemplate="item">
            {{suggestion}}
          </ng-template>
        </p-autoComplete>
        <button class="dependency-search-btn" (click)="performDatabaseUserSearch()">Search Partial Name</button>
      </div>
      <div>
        <div class="tab-table" *ngIf="portDeployments?.length > 0; else noPortDeployments">
          <p-table [value]="portDeployments" [columns]="portSearchColumns" sortField="deployment.contextName" [paginator]="true" [rows]="25">
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let column of portSearchColumns" [pSortableColumn]="column.field" width="{{column.width}}">
                  {{column.header}}
                  <p-sortIcon [field]="column.field"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-portDeployment>
              <tr>
                <td>{{portDeployment?.contextName}}</td>
                <td>{{portDeployment?.environment}}</td>
                <td>{{getHostServerName(portDeployment?.hostServerId)}}</td>
                <td>{{portDeployment?.port}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <ng-template #noPortDeployments>
          <div class="no-results-found">No results found</div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
