<div class="win-body">
  <div class="page-title-wrapper">
    <h2 class="page-title">Databases</h2>
    <div class="button-wrapper">
      <button class="add-button" (click)="resetDatabaseComponent(); openModal();">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span>Create Database</span>
      </button>
    </div>
  </div>

  <div class="databases-table">
    <p-table [value]="databases" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30px">ID</th>
          <th style="width: 100px">Environment</th>
          <th style="width: 180px">Host Name</th>
          <th style="width: 80px">Name</th>
          <th style="width: 60px">Port</th>
          <th style="width: 180px">Type</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-database>
        <tr>
          <td>
            <a (click)="setPassedDatabase(database); openModal();">{{database.id}}</a>
          </td>
          <td>{{database.environment}}</td>
          <td>{{database.hostName}}</td>
          <td>{{database.name}}</td>
          <td>{{database.port}}</td>
          <td>{{database.type.name}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<apm-modal id="database-component">
  <apm-database modalId="database-component" #databaseComponent
                   (createEvent)="handleCreate($event)" (deleteEvent)="handleDelete($event)" (updateEvent)="handleUpdate($event)">

  </apm-database>
</apm-modal>
