<div class="modal fade win-modal-big in" [id]="modalId">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header container">
        <h2 class="modal-title" *ngIf="!passedDatabase">Add New Database</h2>
        <h2 class="modal-title" *ngIf="passedDatabase">Update Database</h2>
        <button type="button" class="close" (click)="closeModal()">
          <span><i class="fa fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body container">
        <form id="newDatabaseForm" #newDatabaseForm="ngForm">
          <div class="apm-form-body">
            <div class="apm-form-group">
              <label class="win-label apm-label" for="environment">Environment*</label>
              <div class="apm-input-group">
                <select class="apm-input apm-select" id="environment" [(ngModel)]="model.environment" name="environment"
                        #environment="ngModel" required
                        [class.invalid]="(environment.touched || environment.dirty) && environment.invalid">
                  <option value=""></option>
                  <option *ngFor="let env of environments">
                    {{env}}
                  </option>
                </select>
              </div>
            </div>
            <div class="apm-form-group">
              <label class="win-label apm-label" for="databaseName">Name*</label>
              <div class="apm-input-group">
                <input type="text" class="apm-input" id="databaseName" name="databaseName" required minlength="2"
                       [(ngModel)]="model.name" #databaseName="ngModel"
                       [class.invalid]="(databaseName.touched || databaseName.dirty) && databaseName.invalid">
              </div>
            </div>
            <div class="apm-form-group">
              <label class="win-label apm-label" for="hostName">Host Name*</label>
              <div class="apm-input-group">
                <input type="text" class="apm-input" id="hostName" name="hostName" required minlength="2"
                       [(ngModel)]="model.hostName" #hostName="ngModel"
                       [class.invalid]="(hostName.touched || hostName.dirty) && hostName.invalid">
              </div>
            </div>
            <div class="apm-form-group">
              <label class="win-label apm-label" for="port">Port</label>
              <div class="apm-input-group">
                <input type="text" class="apm-input" id="port" name="port" [(ngModel)]="model.port">
              </div>
            </div>
            <div class="apm-form-group">
              <label class="win-label apm-label" for="databaseType">Type*</label>
              <div class="apm-input-group">
                <select class="apm-input apm-select" id="databaseType" [(ngModel)]="model.databaseTypeId" name="databaseType"
                        #databaseType="ngModel" required
                        [class.invalid]="(databaseType.touched || databaseType.dirty) && databaseType.invalid">
                  <option value=""></option>
                  <option *ngFor="let dbType of databaseTypes" value="{{dbType.id}}">
                    {{dbType.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer container">
        <button type="button" class="win-button win-button-secondary btn left" *ngIf="passedDatabase" (click)="deleteDatabase()">
          <span>Delete Database</span>
        </button>
        <button type="button" class="win-button win-button-primary btn right" (click)="saveDatabase()"
                [disabled]="!newDatabaseForm || !newDatabaseForm.form.valid || !newDatabaseForm.form.dirty">
        <span>Save Database</span>
        </button>
      </div>
    </div>
  </div>
</div>
