<div class="win-body">
  <div class="page-title-wrapper">
    <h2 class="page-title">Deployments</h2>
    <div class="button-wrapper">
      <button class="add-button" (click)="resetDeploymentComponent(); openModal();">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span>Create Deployment</span>
      </button>
    </div>
  </div>

  <div class="deployments-table">
    <p-table [value]="deployments" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30px">ID</th>
          <th style="width: 150px">Application</th>
          <th style="width: 60px">Environment</th>
          <th style="width: 300px">Base URL</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-deployment>
        <tr>
          <td>
            <a (click)="setPassedDeployment(deployment); openModal();">{{deployment.id}}</a>
          </td>
          <td>{{getAppMnemonic(deployment.applicationId)}}</td>
          <td>{{deployment.environment}}</td>
          <td>{{getDeploymentBaseUrl(deployment)}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<apm-modal id="deployment-component">
  <apm-deployment modalId="deployment-component" #deploymentComponent
                   (createEvent)="handleCreate($event)" (deleteEvent)="handleDelete($event)" (updateEvent)="handleUpdate($event)">

  </apm-deployment>
</apm-modal>
