<div class="modal fade win-modal-big in" [id]="modalId">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header container">
        <h2 class="modal-title" *ngIf="!passedDeployment">Add New Deployment</h2>
        <h2 class="modal-title" *ngIf="passedDeployment">Update Deployment</h2>
        <button type="button" class="close" (click)="closeModal()">
          <span><i class="fa fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body container">
        <form id="newDeploymentForm" #newDeploymentForm="ngForm">
          <p-panel header="General Info" [toggleable]="true" [(collapsed)]="collapseGeneralInfoPanel">
            <div class="apm-form-body">
              <div class="apm-form-group">
                <label class="win-label apm-label" for="applicationId">Application Name*</label>
                <div class="apm-input-group">
                  <select class="apm-input apm-select" id="applicationId" [(ngModel)]="model.applicationId" name="applicationId"
                          #applicationId="ngModel" required
                          [class.invalid]="(applicationId.touched || applicationId.dirty) && applicationId.invalid">
                    <option value=""></option>
                    <option *ngFor="let app of applications" value="{{app.id}}">
                      {{app.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="apm-form-group">
                <label class="win-label apm-label" for="environment">Environment*</label>
                <div class="apm-input-group">
                  <select class="apm-input apm-select" id="environment" [(ngModel)]="model.environment" name="environment"
                          #environment="ngModel" required
                          [class.invalid]="(environment.touched || environment.dirty) && environment.invalid">
                    <option *ngFor="let env of environments">
                      {{env}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="apm-form-group">
                <label class="win-label apm-label" for="directory">Deployment Directory</label>
                <div class="apm-input-group">
                  <input type="text" class="apm-input" id="directory" name="directory" [(ngModel)]="model.directory">
                </div>
              </div>
              <div class="apm-form-group">
                <label class="win-label apm-label" for="https">Is HTTPS?*</label>
                <div class="apm-input-group">
                  <select class="apm-input apm-select" id="https" [(ngModel)]="model.https" name="https"
                          #https="ngModel" required
                          [class.invalid]="(https.touched || https.dirty) && https.invalid">
                    <option *ngFor="let choice of ['true', 'false']" value="{{choice}}">
                      {{choice}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="apm-form-group">
                <label class="win-label apm-label" for="hostServerId">Host Server*</label>
                <div class="apm-input-group">
                  <select class="apm-input apm-select" id="hostServerId" [(ngModel)]="model.hostServerId" name="hostServerId"
                          #hostServerId="ngModel" required
                          [class.invalid]="(hostServerId.touched || hostServerId.dirty) && hostServerId.invalid">
                    <option *ngFor="let hostServer of hostServers" value="{{hostServer.id}}">
                      {{hostServer.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="apm-form-group">
                <label class="win-label apm-label" for="port">Port</label>
                <div class="apm-input-group">
                  <input type="text" class="apm-input" id="port" name="port" [(ngModel)]="model.port">
                </div>
              </div>
              <div class="apm-form-group">
                <label class="win-label apm-label" for="contextName">Context Name*</label>
                <div class="apm-input-group">
                  <input type="text" class="apm-input" id="contextName" name="contextName" required minlength="2"
                         [(ngModel)]="model.contextName" #contextName="ngModel"
                         [class.invalid]="(contextName.touched || contextName.dirty) && contextName.invalid">
                </div>
              </div>
              <div class="apm-form-group">
                <label class="win-label apm-label" for="baseUrl">Base URL</label>
                <div class="apm-input-group">
                  <div class="apm-input base-url" id="baseUrl">{{getDeploymentBaseUrl(model)}}</div>
                </div>
              </div>
            </div>
          </p-panel>
          <p-panel header="Databases" [toggleable]="true" [(collapsed)]="collapseDatabasesPanel">
            <div class="child-table-div">
              <div>
                <button class="add-button" [disabled]="!passedDeployment || !model.id" (click)="openDeploymentDatabaseModal()">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  <span>Add Database</span>
                </button>
              </div>
              <div class="child-table" *ngIf="deploymentDatabases?.length > 0; else noDatabases">
                <p-table [value]="deploymentDatabases" [paginator]="false" dataKey="id">
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 200px">Database Name</th>
                      <th style="width: 200px">Database Host</th>
                      <th style="width: 150px">Connection Username</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-database>
                    <tr>
                      <td>{{getDatabaseName(database.databaseId)}}</td>
                      <td>{{getDatabaseHost(database.databaseId)}}</td>
                      <td>
                        <a (click)="openDeploymentDatabaseModal(database)">{{database.connectionUsername}}</a>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              <ng-template #noDatabases>
                <div class="win-label">None</div>
              </ng-template>
            </div>
          </p-panel>
          <p-panel header="MuleSoft API's" [toggleable]="true" [(collapsed)]="collapseApisPanel">
            <div class="child-table-div">
              <div class="child-table" *ngIf="apis?.length > 0; else noApis">
                <p-table [value]="apis" [paginator]="false" dataKey="id">
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 150px">Name</th>
                      <th style="width: 60px">Environment</th>
                      <th style="width: 50px">Version</th>
                      <th style="width: 50px">Asset Version</th>
                      <th style="width: 250px">URL</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-api>
                    <tr>
                      <td>{{api.assetId}}</td>
                      <td>{{api.deploymentEnvironment}}</td>
                      <td>{{api.productVersion}}</td>
                      <td>{{api.assetVersion}}</td>
                      <td>{{formatApiUrl(api)}}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              <ng-template #noApis>
                <div class="win-label">None</div>
              </ng-template>
            </div>
          </p-panel>
        </form>
      </div>
      <div class="modal-footer container">
        <button type="button" class="win-button win-button-secondary btn left" *ngIf="passedDeployment" (click)="deleteDeployment()">
          <span>Delete Deployment</span>
        </button>
        <button type="button" class="win-button win-button-primary btn right" (click)="saveDeployment()"
                [disabled]="(!newDeploymentForm || !newDeploymentForm.form.valid || !newDeploymentForm.form.dirty) && !databasesAdded">
          <span>Save Deployment</span>
        </button>
      </div>
    </div>
  </div>
</div>
