<div class="win-body">
  <div class="page-title-wrapper">
    <h2 class="page-title">Database Types</h2>
    <div class="button-wrapper">
      <button class="add-button" (click)="resetDatabaseTypeComponent(); openModal();">
        <i class="pi pi-plus" aria-hidden="true"></i>
        <span>Create Database Type</span>
      </button>
    </div>
  </div>

  <div class="database-types-table">
    <p-table [value]="databaseTypes" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30px">ID</th>
          <th style="width: 80px">Name</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-databaseType>
        <tr>
          <td>
            <a (click)="setPassedDatabaseType(databaseType); openModal();">{{databaseType.id}}</a>
          </td>
          <td>{{databaseType.name}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<apm-modal id="database-type-component">
  <apm-database-type modalId="database-type-component" #databaseTypeComponent
                   (createEvent)="handleCreate($event)" (deleteEvent)="handleDelete($event)" (updateEvent)="handleUpdate($event)">

  </apm-database-type>
</apm-modal>
