@import 'assets/scss/variables';
@import url('https://cdn.winwholesale.com/css/winsupply-icon-library.css');
@import url('https://cdn.winwholesale.com/styles/styles.css');

body {
  margin: 20px 0 0 0;
}

button:disabled {
  background-color: $win-chroma-1;
  cursor: not-allowed;
}

.right {
  float: right;
}

.left {
  float: left;
}

.win-label {
  font-size: 13px;
}

.win-button {
  font-size: 13px !important;
  border-radius: 4px !important;
}

// Modals

.win-modal-big {
  overflow-y: auto !important;

  .modal-dialog {
    max-width: 100%;
  }

  .modal-content {
    .modal-header {
      .close {
        color: $win-primary;
        font-size: 32px;
        opacity: 1;
      }

      .modal-title {
        margin-bottom: 1em;
        font-size: 24px;
      }
    }

    .modal-footer {
      display: block;
      height: 80px;
      border-top: solid 1px $win-chroma-3;
      padding: 15px 0;
    }
  }
}

.win-modal-small {
  .modal-content {
    .modal-header {
      display: block;

      .close {
        color: $win-primary;
        font-size: 32px;
        opacity: 1;
      }
    }

    .modal-footer {
      display: block;
    }
  }
}

// Page Header

.page-title-wrapper {
  padding-bottom: 10px;

  .page-title {
    display: inline-block !important;
    font-size: 24px;
  }
}

// Add Button

.add-button {
  border: 1px solid $win-primary;
  color: $win-primary;
  background: #fff;
  border-radius: 5px;
  min-width: 150px;
  font-size: 16px;
  padding: 4px 12px
}

.add-button span {
  padding-left: 3px;
}

// Form Elements

.apm-form-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding-bottom: 60px;

  .apm-label {
    display: inline-block;
    margin-bottom: 5px;
  }

  .apm-form-group {
    height: 25px;
  }

  .apm-input {
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid $win-chroma-3;
    border-radius: 4px;
    background-color: $white;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    &:focus {
      outline: $win-primary auto 3px;
      background-color: $white;
    }
  }

  .apm-select {
    height: 35px;
    background-color: white;
  }
}

.child-table-div {
  .add-button {
    font-size: 13px;
    margin-bottom: 10px;
  }
}

// Block UI

.ui-blockui {
  background: rgba(255, 255, 255, 0.5) !important;
  opacity: 1 !important;
  z-index: 1101 !important;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// Flyout Filter Panel

.sidebar .ui-sidebar {
  width: 260px;
  height: auto;
  top: 75px;
  border: 1px solid $win-chroma-3;
  border-bottom-left-radius: 5px;
  box-shadow: none;
  padding: 0;
  z-index: 49 !important;
}

.ui-widget-content {
  background-color: $white;
}

.sidebar .ui-sidebar.ui-sidebar-right {
  right: -40px;
}

.sidebar .ui-sidebar.ui-sidebar-active {
  right: 0;
}

.sidebar .ui-sidebar .ui-sidebar-close {
  position: absolute;
  top: -1px;
  left: -36px;
  background: $white;
  font-size: 22px;
  padding: 6px 4px 2px 4px;
  color: $win-primary-text !important;
  box-shadow: none;
  border-radius: 5px 0 0 5px;
  border: 1px solid $win-chroma-3;
  border-right: none;
  width: 36px;
}

.sidebar .ui-sidebar .ui-sidebar-close span {
  color: $win-primary-text;
}

.sidebar .ui-sidebar .ui-sidebar-close:hover {
  background: $white;
  border-color: inherit;
}

.sidebar .ui-sidebar h1 {
  margin-top: 10px;
  color: $win-primary;
}

.sidebar .ui-sidebar .panel-title {
  font-size: 16px;
  padding: 0 15px;
}

.sidebar footer {
  margin: 0 5px;
  padding: 0 10px;
  border-top: 1px solid $win-chroma-3;
}

.sidebar footer button {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.sidebar footer .red {
  color: $win-error;
}

.sidebar footer .btn-neutral {
  background: none;
  border: none;
}

.scroll-pane {
  height: 400px;
  width: 100%;
  padding: 0 15px;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media only screen and (max-width: 767px) {
  .scroll-pane {
    height: auto;
    overflow: visible;
  }

  .sidebar .ui-sidebar {
    width: 95%;
    top: 50px;
    height: calc(100vh - 50px);
  }

  .sidebar .ui-sidebar .ui-sidebar-close {
    left: auto;
    right: 10px;
    border: 0;
    font-size: 22px;
    top: 2px;
    box-shadow: none;
  }
  .filters-btn, .filters-btn:hover, .filters-btn:active, .filters-btn:focus {
    top: 105px;
  }
}

.apply-filter, .apply-filter[disabled] {
  background-color: $win-primary;
  border-color: $win-primary;
}

.item-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.group-item {
  margin-right: 15px;
}

.group-item:last-of-type {
  margin-right: 0;
}

.date-group {
  display: flex;

  .form-group:first-child {
    margin-right: 15px;
  }
}

.form-group .win-label {
  white-space: nowrap;
  font-size: 13px;
  color: $win-primary-text;
}

.form-group input, .form-group select, .form-group {
  text-align: left;
}

// Sticky Bottom Navbar

.sticky-bottom-navbar {
  position: fixed !important;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  height: 80px;
}

.sticky-bottom-navbar.d-md-none .navbar-collapse {
  height: 100%;
  justify-content: center;
}

// Chips

.chips > div {
  padding: 2px 5px;
  background-color: $white;
  box-shadow: 0 0 1px;
  border-radius: 5px;
  display: inline;
  margin-right: 5px;
  font-size: 10px;
}

// Tab Button Groups

.btn-group {
  cursor: pointer;
  pointer-events: auto;
  float: right;
}

@media(max-width: 767px) {
  .btn-group {
    float: left;
    padding-bottom: 20px;
  }
}

.btn-group-toggle {
  .btn.active {
    background-color: inherit;
  }
}

.tab-btn {
  min-width: 150px;
  height: 42px;
  border: 1px solid $win-primary-text;
  font-size: 18px;
  color: $win-primary-text;
  background-color: $white;
  font-weight: inherit;

  &:focus {
    outline: none;
  }

  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &:hover {
    background-color: $win-primary-text;
    color: $white;
    opacity: 0.5;
  }
}

.selected-tab {
  background-color: $win-chroma-5 !important;
  color: $white;

  &:hover {
    opacity: 1;
  }
}

.tab-body {
  padding-top: 20px;

  .tab-title {
    width: 450px;

    input {
      background-color: $white;
    }
  }

  .tab-table {
    padding-top: 20px;
  }

  .no-results-found {
    padding-top: 20px;
    font-size: 13px;
  }
}

// PrimeNG Table

.ui-paginator .ui-paginator-page.ui-state-active,
.ui-table .ui-sortable-column.ui-state-highlight {
  background-color: $win-primary !important;
}

// PrimeNG Autocomplete

.ui-autocomplete {
  font-size: 13px;

  input {
    width: 100%;
    padding-left: 12px;
    font-size: 13px !important;
  }

  .ui-autocomplete-panel .ui-autocomplete-list-item {
    font-size: 13px;
    padding: 1px;
  }
}

.dashboard-autocomplete .ui-autocomplete {
  width: 450px !important;
}

.flyout-autocomplete .ui-autocomplete {
  width: 100% !important;
}

// PrimeNG Collapsible Panels

.ui-panel {
  border: none !important;
  background-color: inherit !important;
  padding-bottom: 20px;
}

.ui-panel-titlebar {
  color: $win-primary-text !important;
  font-size: 15px;
  font-weight: 600 !important;
  border: none !important;
  border-bottom: 1px solid $win-chroma-3 !important;
  margin-bottom: 20px;
  background: none !important;
}

.ui-panel-titlebar-icon {
  color: $win-primary !important;
  border-color: $win-primary !important;
}

// PrimeNG Growl Messages

.ui-growl.ui-widget {
  z-index: 1051 !important;
}

.win-growl {
  .ui-growl {
    width: 35%;
  }

  .ui-growl-title {
    padding-bottom: 0px;
    margin-left: 2.5em;
    font-size: 12px;
  }

  .ui-growl-message {
    margin-left: 0px;
  }

  .ui-growl-icon-close {
    font-size: 2em;
  }

  .ui-growl-item-container.ui-state-highlight.ui-growl-message-success {
    background-color: $win-success;
    border-color: $win-success;
  }

  .ui-growl-item-container.ui-state-highlight.ui-growl-message-error {
    background-color: $win-error;
    border-color: $win-error;
  }
}
