@import "assets/scss/variables";
@import url("https://cdn.winwholesale.com/styles.css");

body {
  margin: 20px 0 0 0;
}

button:disabled {
  background-color: $win-background;
  cursor: not-allowed;
}

.win-modal-big {
  overflow-y: auto !important;

  .modal-dialog {
    max-width: 100%;
  }

  .modal-content {
    .modal-header {
      .close {
        color: $win-blue;
        font-size: 32px;
        opacity: 1;
      }

      .modal-title {
        margin-bottom: 1em;
      }
    }

    .modal-footer {
      display: block;
      height: 80px;
      border-top: solid 1px #ccc;
      padding: 15px 0;
    }
  }
}

.win-modal-small {
  .modal-content {
    .modal-header {
      display: block;

      .close {
        color: $win-blue;
        font-size: 32px;
        opacity: 1;
      }
    }

    .modal-footer {
      display: block;
    }
  }
}

.page-title-wrapper {
  .page-title {
    display: inline-block !important;
  }

  .button-wrapper {
    float: right;
    font-size: 24px;
  }
}

.add-button {
  border: 1px solid $win-blue;
  color: $win-blue;
  background: #fff;
  border-radius: 25px;
  min-width: 150px;
  font-size: 0.7em;
  padding: 4px 12px
}

.add-button span {
  padding-left: 3px;
}

.apm-form-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding-bottom: 30px;

  .apm-label {
    display: inline-block;
    margin-bottom: 5px;
  }

  .apm-form-group {
    height: 25px;
  }

  .apm-input {
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }

  .apm-select {
    height: 35px;
    background-color: white;
  }
}

.child-table-div {
  margin-top: 30px;
  margin-bottom: 30px;

  .child-table {
    padding-top: 5px;
  }

  .add-button {
    float: right;
    font-size: 13px;
  }
}

.ui-blockui {
  background: rgba(255, 255, 255, 0.5) !important;
  opacity: 1 !important;
  z-index: 1101 !important;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
