.application-child-table-div {
  margin-top: 50px;
}

.child-table {
  padding-top: 5px;
}

.ui-editing-cell select {
  border: none;
  background-color: inherit;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
