@import "../../../assets/scss/variables";

.child-table-div {
  margin-top: 50px;

  .add-button {
    float: right;
    font-size: 12px;
    min-width: 100px;
    margin-bottom: 5px;
  }
}

.child-table {
  padding-top: 5px;
}


