<div class="modal fade win-modal-big in" [id]="modalId">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header container">
        <h2 class="modal-title" *ngIf="!passedApplication">Add New Application</h2>
        <h2 class="modal-title" *ngIf="passedApplication">Update Application</h2>
        <button type="button" class="close" (click)="closeModal()">
          <span><i class="fa fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body container">
        <form id="newApplicationForm" #newApplicationForm="ngForm">
          <p-panel header="General Info" [toggleable]="true" [(collapsed)]="collapseGeneralInfoPanel">
            <div class="apm-form-body">
              <div class="apm-form-group">
                <label class="win-label apm-label" for="applicationMnemonic">Mnemonic*</label>
                <div class="apm-input-group">
                  <input type="text" class="apm-input" id="applicationMnemonic" name="mnemonic" required minlength="2"
                         [(ngModel)]="model.mnemonic" #mnemonic="ngModel"
                         [class.invalid]="(mnemonic.touched || mnemonic.dirty) && mnemonic.invalid">
                </div>
              </div>
              <div class="apm-form-group">
                <label class="win-label apm-label" for="applicationDescription">Description</label>
                <div class="apm-input-group">
                  <input type="text" class="apm-input" id="applicationDescription" name="description" [(ngModel)]="model.description">
                </div>
              </div>
              <div class="apm-form-group">
                <label class="win-label apm-label" for="applicationType">Type*</label>
                <div class="apm-input-group">
                  <select class="apm-input apm-select" id="applicationType" [(ngModel)]="model.applicationTypeId" name="applicationType"
                          #applicationType="ngModel" required
                          [class.invalid]="(applicationType.touched || applicationType.dirty) && applicationType.invalid">
                    <option value=""></option>
                    <option *ngFor="let appType of applicationTypes" value="{{appType.id}}">
                      {{appType.name}} {{appType.version}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="apm-form-group">
                <label class="win-label apm-label" for="serviceApi">Is Service/API?</label>
                <div class="apm-input-group">
                  <select class="apm-input apm-select" id="serviceApi" [(ngModel)]="model.serviceApi" name="serviceApi" #type="ngModel">
                    <option *ngFor="let choice of ['true', 'false']" value="{{choice}}">
                      {{choice}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </p-panel>
          <p-panel header="Tags" [toggleable]="true" [(collapsed)]="collapseTagsPanel">
            <p-chips [(ngModel)]="model.tags" name="tags" [allowDuplicate]="false" [addOnTab]="true" [addOnBlur]="true"></p-chips>
          </p-panel>
          <p-panel header="Source Code" [toggleable]="true" [(collapsed)]="collapseSourceCodePanel">
            <div class="apm-form-body">
              <div class="apm-form-group">
                <label class="win-label apm-label" for="applicationRepository">Repository*</label>
                <div class="apm-input-group">
                  <input type="text" class="apm-input" id="applicationRepository" name="repository" required minlength="20"
                         [(ngModel)]="model.repository" #repository="ngModel"
                         [class.invalid]="(repository.touched || repository.dirty) && repository.invalid">
                </div>
              </div>
              <div class="apm-form-group">
                <label class="win-label apm-label" for="applicationDefaultBranch">Default Branch*</label>
                <div class="apm-input-group">
                  <input type="text" class="apm-input" id="applicationDefaultBranch" name="defaultBranch" required minlength="2"
                         [(ngModel)]="model.defaultBranch" #defaultBranch="ngModel"
                         [class.invalid]="(defaultBranch.touched || defaultBranch.dirty) && defaultBranch.invalid">
                </div>
              </div>
            </div>
          </p-panel>
          <p-panel header="Ownership" [toggleable]="true" [(collapsed)]="collapseOwnershipPanel">
            <div class="owners-div">
              <label class="win-label apm-label" for="owners">Authorized Application Owners</label>
              <p-chips [(ngModel)]="model.owners" id="owners" name="owners" [allowDuplicate]="false" [addOnTab]="true" [addOnBlur]="true"></p-chips>
            </div>
            <div class="apm-form-body">
              <div class="apm-form-group">
                <label class="win-label apm-label" for="owningDepartment">Owning Department*</label>
                <div class="apm-input-group">
                  <input type="text" class="apm-input" id="owningDepartment" name="owningDepartment" required minlength="2"
                         [(ngModel)]="model.owningDepartment" #owningDepartment="ngModel"
                         [class.invalid]="(owningDepartment.touched || owningDepartment.dirty) && owningDepartment.invalid">
                </div>
              </div>
              <div class="apm-form-group">
                <label class="win-label apm-label" for="primaryContactName">Primary Contact Name*</label>
                <div class="apm-input-group">
                  <input type="text" class="apm-input" id="primaryContactName" name="primaryContactName" required minlength="2"
                         [(ngModel)]="model.primaryContactName" #primaryContactName="ngModel"
                         [class.invalid]="(primaryContactName.touched || primaryContactName.dirty) && primaryContactName.invalid">
                </div>
              </div>
              <div class="apm-form-group">
                <label class="win-label apm-label" for="primaryContactEmail">Primary Contact Email*</label>
                <div class="apm-input-group">
                  <input type="text" class="apm-input" id="primaryContactEmail" name="primaryContactEmail" required minlength="2"
                         [(ngModel)]="model.primaryContactEmail" #primaryContactEmail="ngModel"
                         [class.invalid]="(primaryContactEmail.touched || primaryContactEmail.dirty) && primaryContactEmail.invalid">
                </div>
              </div>
              <div class="apm-form-group">
                <label class="win-label apm-label" for="primaryContactPhone">Primary Contact Phone</label>
                <div class="apm-input-group">
                  <input type="text" class="apm-input" id="primaryContactPhone" name="primaryContactPhone" [(ngModel)]="model.primaryContactPhone">
                </div>
              </div>
            </div>
          </p-panel>
          <p-panel header="Deployments" [toggleable]="true" [(collapsed)]="collapseDeploymentsPanel">
            <div class="child-table-div">
              <div>
                <button class="add-button" (click)="addDeployments()">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  <span>Add Deployments</span>
                </button>
              </div>
              <div class="child-table" *ngIf="deployments?.length > 0; else noDeployments">
                <p-table [value]="deployments" [paginator]="false" dataKey="environment">
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 80px">Environment</th>
                      <th style="width: 300px">Base URL</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-deployment>
                    <tr>
                      <td>{{deployment.environment}}</td>
                      <td>{{getDeploymentBaseUrl(deployment)}}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              <ng-template #noDeployments>
                <div class="win-label">None</div>
              </ng-template>
            </div>
          </p-panel>
          <p-panel header="Dependencies" [toggleable]="true" [(collapsed)]="collapseDependenciesPanel">
            <div class="child-table-div">
              <div>
                <button class="add-button refresh-btn"
                        [disabled]="!passedApplication || !model.id || !(model.repository && model.defaultBranch)"
                        (click)="refreshDependencies()">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  <span>Refresh Dependencies</span>
                  <span *ngIf="!(model.repository && model.defaultBranch)" class="refresh-info-tooltip">You must supply source code info to refresh dependencies.</span>
                </button>
              </div>
              <div class="child-table" *ngIf="dependencies?.length > 0; else noDependencies">
                <p-table [value]="dependencies" [paginator]="true" [rows]="10">
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 2em">Name</th>
                      <th style="width: 1em">Version</th>
                      <th style="width: 4em">Reference</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-dependency>
                    <tr>
                      <td>{{dependency.name}}</td>
                      <td>{{dependency.versionCode}}</td>
                      <td>{{dependency.managerReference}}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              <ng-template #noDependencies>
                <div>None</div>
              </ng-template>
            </div>
          </p-panel>
        </form>
      </div>
      <div class="modal-footer container">
        <button type="button" class="win-button win-button-secondary btn left" *ngIf="passedApplication" (click)="deleteApplication()">
          <span>Delete Application</span>
        </button>
        <button type="button" class="win-button win-button-primary btn right" (click)="saveApplication()"
                [disabled]="!newApplicationForm || !newApplicationForm.form.valid || !newApplicationForm.form.dirty">
        <span>Save Application</span>
        </button>
      </div>
    </div>
  </div>
</div>
