@import "../../../assets/scss/variables";

.child-table-div {
  margin-top: 50px;

  .add-button {
    float: right;
    font-size: 12px;
    min-width: 100px;
    margin-bottom: 5px;

    .pi {
      font-size: 16px;
    }
  }
}

.child-table {
  padding-top: 5px;

  .pi {
    font-size: 20px;
    color: $win-blue;
  }
}


