<div class="win-body">
  <div class="page-title-wrapper">
    <h2 class="page-title">Applications</h2>
    <div class="button-wrapper">
      <button class="add-button" (click)="resetApplicationComponent(); openModal();">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span>Create Application</span>
      </button>
    </div>
  </div>

  <div class="inventory-table">
    <p-table [value]="applications" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 2em">Mnemonic</th>
          <th style="width: 2em">Name</th>
          <th style="width: 2em">Type</th>
          <th style="width: 1.5em">Deployments</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-application>
        <tr>
          <td>
            <a (click)="setPassedApplication(application); openModal();">{{application.mnemonic}}</a>
          </td>
          <td>{{application.name}}</td>
          <td>{{application.applicationType.name}}</td>
          <td>{{application.deployments.length}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<apm-modal id="application-component">
  <apm-application modalId="application-component" #applicationComponent
                   (createEvent)="handleCreate($event)" (deleteEvent)="handleDelete($event)" (updateEvent)="handleUpdate($event)">

  </apm-application>
</apm-modal>
