<div class="win-body">
  <div class="page-title-wrapper">
    <h2 class="page-title">Applications</h2>
    <div class="button-wrapper">
      <button class="add-button" (click)="resetApplicationComponent(); openModal(APPLICATION_MODAL_ID);">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span>Create Application</span>
      </button>
    </div>
  </div>

  <div class="inventory-table">
    <p-table [value]="applications" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 2em">Mnemonic</th>
          <th style="width: 2em">Name</th>
          <th style="width: 2em">Type</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-application>
        <tr>
          <td>
            <a (click)="setPassedApplication(application); openModal(APPLICATION_MODAL_ID);">{{application.mnemonic}}</a>
          </td>
          <td>{{application.name}}</td>
          <td>{{application.applicationType.name}} {{application.applicationType.version}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<input class="form-control" style="visibility: hidden" />

<apm-application #applicationComponent [modalId]="APPLICATION_MODAL_ID"
                 (createEvent)="handleCreate($event)"
                 (deleteEvent)="handleDelete($event)"
                 (updateEvent)="handleUpdate($event)"
                 (addDeploymentEvent)="addDeploymentToApplication($event)"
                 (uploadDependenciesEvent)="openDependencyUploadDialog($event)">
</apm-application>

<apm-deployment #deploymentComponent [modalId]="DEPLOYMENT_MODAL_ID"
                (createAppDeploymentEvent)="handleDeploymentCreate($event)"
                (cancelAppDeploymentEvent)="handleDeploymentCancel($event)">
</apm-deployment>

<apm-dependency-upload #dependencyUploadComponent [modalId]="DEPENDENCY_UPLOAD_MODAL_ID"
                (uploadAppDependenciesEvent)="handleDependencyUpload($event)"
                (cancelAppDependenciesEvent)="handleDependencyUploadCancel($event)">
</apm-dependency-upload>
