<div class="win-body">
  <div class="page-title-wrapper">
    <h2 class="page-title">Applications</h2>
  </div>

  <apm-application-flyout-filter #applicationFiltersComponent [applications]="applications" [applicationTypes]="applicationTypes"
                                 [departments]="departments" (filter)="filters = $event; searchApplications() " (clear)="resetFilters()">
  </apm-application-flyout-filter>

  <div class="applications-table">
    <p-table [value]="applications" [columns]="columns" sortField="mnemonic" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let column of columns" [pSortableColumn]="column.field" width="{{column.width}}">
            {{column.header}}
            <p-sortIcon [field]="column.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-application>
        <tr>
          <td>
            <a (click)="prepareApplicationModal(application); openModal(APPLICATION_MODAL_ID);">{{application.mnemonic}}</a>
          </td>
          <td>{{application.owningDepartment}}</td>
          <td>{{application.description}}</td>
          <td>{{getApplicationTypeDescription(application.applicationTypeId)}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <nav class="navbar sticky-bottom-navbar">
    <div class="text-right col-12 pr-0">
      <button class="add-button" (click)="resetApplicationComponent(); openModal(APPLICATION_MODAL_ID);">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span>Create Application</span>
      </button>
    </div>
  </nav>
</div>

<input class="form-control" style="visibility: hidden" />

<apm-application #applicationComponent [modalId]="APPLICATION_MODAL_ID" [applicationTypes]="applicationTypes" [hostServers]="hostServers"
                 (createEvent)="handleCreate($event)"
                 (deleteEvent)="handleDelete($event)"
                 (updateEvent)="handleUpdate($event)"
                 (addDeploymentEvent)="addDeploymentToApplication($event)">
</apm-application>

<apm-deployment-bulk-add #deploymentBulkAddComponent [modalId]="DEPLOYMENT_BULK_ADD_MODAL_ID" [hostServers]="hostServers"
                         (createAppDeploymentEvent)="handleBulkDeploymentCreate($event)"
                         (cancelAppDeploymentEvent)="handleBulkDeploymentCancel($event)">
</apm-deployment-bulk-add>
